@import "./members";
@import "./task";

//while loading
.loading-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;

    .subBoards-container{
      display: flex;
      height: 100vh;
      flex-grow: 1;
      overflow: auto;

      .board-sub {
        width: 20%;
        background-color: #ffffff;
        border-right: 2px solid $border-subBoard;
      }
    }

}