@import "./members";
@import "./task";

.board {
  display: flex;

    .subBoards-container{
      display: flex;
      flex-grow: 1;

      .board-sub {
        width: 20%;
        background-color: #ffffff;
        border-right: 2px solid #e1e1e1;
      }
    }

}