.members {
  background-color: $members-color;
  width: 120px;
  .member{
    height: 40px;
    margin: 10px 10px;
    background-color: $member-color;
    display: flex;
    justify-content: center;
    line-height: 40px;
    color: white;
    cursor: pointer;
    position: relative;
  }
  .active-member{
    background-color: $main-color;
    color: white;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 10px solid transparent;
      border-left: 10px solid $main-color;
      right: -20px;
      top: 10px;
    }
  }
}