.members {
  background-color: $board-color;
  border-right: 1px solid darken($board-color, 20%);

  .members-title{
    color: lighten($second-color, 40%);
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    background: $second-color;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 3px solid darken($second-color, 10%);
    border-right: 1px solid darken($second-color, 10%);
  }
}