.members {
  background-color: $members-color;
  width: 120px;
  .member{
    -webkit-box-shadow: 1px 1px 3px 0 rgba(133,133,133,1);
    -moz-box-shadow: 1px 1px 3px 0 rgba(133,133,133,1);
    box-shadow: 1px 1px 3px 0 rgba(133,133,133,1);
    height: 40px;
    margin: 10px 10px;
    background-color: $member-color;
    display: flex;
    justify-content: center;
    line-height: 40px;
    color: white;
    cursor: pointer;
  }
  .active-member{
    background-color: $main-color;
    color: white;
  }
}