.board-sub {
  flex-grow: 1;
  border-right: 1px solid darken($board-color, 20%);

  .board-sub-title {
    background: $board-color;
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid darken($board-color, 20%);
  }
}