$list1: low, mid, high, unDef;
$list2: $low-color, $mid-color, $high-color, silver;

@for $i from 1 through length($list1){
  .task.prior-#{nth($list1, $i)}{
    font-size: 15px;
    position: relative;
    max-width: 320px;
    min-width: 180px;
    height: 90px;
    margin: 5px 10px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(133,133,133,1);
    -moz-box-shadow: 1px 1px 3px 0 rgba(133,133,133,1);
    box-shadow: 1px 1px 3px 0 rgba(133,133,133,1);


    .task-title{
      border-bottom: 1px solid silver;
      height: 40%;
      cursor: move;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .task-info{
      display: flex;
      padding: 5px 0 0 0;

      .prior-level{
        width: 10px;
        height: 35px;
        border-radius: 3px;
        background-color: #{nth($list2, $i)};
      }

      .task-description{
        padding:5px 10px;
        font-weight: bold;
      }
    }
  }
}

.task.dragged{
  -webkit-box-shadow: 0 0 25px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 25px -3px rgba(0,0,0,0.7);
  box-shadow: 0 0 25px -3px rgba(0,0,0,0.7);
  min-width: 240px;
  z-index: 1;
  margin: 0 10px;
}


.hidden {
  max-width: 320px;
  height: 90px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 2px dashed darken($board-color, 20%);
}




