@import "../../modules/colors";

footer{
  background-color: $second-color;
  color: lighten($second-color, 10%);
  -webkit-box-shadow: 0 0 25px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 25px -3px rgba(0,0,0,0.7);
  box-shadow: 0 0 25px -3px rgba(0,0,0,0.7);

  .main-width{
    height: 70px;
    justify-content: space-between;
    align-items: center;

    .footerLogo{
      font-family: 'Patua One', sans-serif;
      font-size: 26px;
      margin: 0 0 0 20px;
    }

    .copyrights{
      font-size: 14px;
      margin:0 20px 0 0;
    }
  }
}

.socials{
  width: 80px;
  font-size: 32px;
  display: flex;
  justify-content: space-between;

  .fa{
    cursor: pointer;

    &:hover{
      color: lighten($second-color, 20%);
    }
  }
}