$main-color: #2b88f5;
$second-color: #353639;
$link-color: #46ecce;
$board-color: #929292;
$low-color: #bae19a;
$mid-color: #ffeead;
$high-color: #ff857d;
$border-color: #acb4b4;
$task-color: #f0f0f0;
$members-color: #F2F2F2;
$member-color: #A9A9A9;