@import "menuBtn";
@import "userBtn";

header {
  background: $main-color;
  color: white;

  .main-width {
    height: 70px;
    align-items: center;
    justify-content: flex-start;

    .nav-box{
      margin:0 25px 0 auto;
      display: flex;
      align-items: center;
    }

    .logo{
      font-family: 'Patua One', sans-serif;
      font-size: 30px;
      margin: 0 0 0 20px;
      border: 1px solid orange;
      padding: 5px 10px;
    }
  }
}

