@import "menuBtn";
@import "userBtn";

header {
  background: $main-color;
  color: white;
  z-index: 2;

  .main-width {
    height: 70px;
    align-items: center;
    justify-content: flex-start;

    .nav-box{
      margin:0 25px 0 auto;
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .logo{
      font-family: 'Patua One', sans-serif;
      font-size: 30px;
      margin: 0 0 0 20px;
      padding: 5px 30px;
      color: white;
      background-color: $second-color;
      -webkit-box-shadow: 0 0 20px 0 #292929;
      -moz-box-shadow: 0 0 20px 0 #292929;
      box-shadow: 0 0 20px 0 #292929;
    }
  }
}

